footer{
  z-index: $zIndex-footer;
  
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 25px;
  
  background: $brown;
  
  img{
    max-width: 100px;
  }
}

// Footer content
.footer_top,
.footer_bottom{
  max-width: 1000px;
  margin: auto;
}


.footer_top{
  padding-bottom: 10px;
  
  border-bottom: thin solid $black;
}

.footer_bottom{
  padding-top: 10px;
  
  ul li{
    width: 100%;
    height: auto;
    overflow: hidden;
    
    p:first-child{
      float: left;
    }
    
    p:last-child{
      float: right;
    }
  }
}