header {
  @include flex;
  @include align-items( center );
  @include justify-content( flex-end );
  
  left: 0;
  position: fixed;
  z-index: $zIndex-header;
  
  width: 100%;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  
  background: $white;
  
  .link-logo {
    top: 15px;
    bottom: 15px;
    left: 60px;
    margin: auto;
    position: absolute;
    
    width: auto;
    height: calc(60% - 30px);
    
    img{
      height: 100%;
    }
  }
}


// Social media platforms
.social{
  display: inline;
  
  li{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    display: inline-block;
    
    &:last-child{
      margin-right: 0;
    }
  }
}

@media #{$medium-down}{
  header{
    nav,
    .social{
      display: none;
    }
    
    .link-logo{
      left: 30px;
    }
    
  }
}