@mixin brandon{
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 400;
  
  &.is_bold{
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
}