a.trigger-menu{
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  display: none;
  
  i{
    width: 100%;
    height: 3px;
    display: block;
    top: calc(50% - 1.5px);
    background: $black;
    
    &:before,
    &:after{
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $black;
      transition: .2s;
    }
    
    &:before{
      margin-top: -10px;
    }
    
    &:after{
      margin-top: 10px;
    }
  }
}

a.trigger-menuClose{
  width: 30px;
  height: 30px;
  
  i{
    left: 50%;
    position: absolute;
    
    width: 2px;
    height: 100%;
    margin-left: -1px;
    
    background: $black;
    
    &:first-child{
      @include transform( rotate(45deg) );
    }
    
    &:last-child{
      @include transform( rotate(-45deg) );
    }
  }
}

// states
.trigger-menuOpen,
.trigger-menuClose{
  @include hide( .3s );
  
  top: 0;
  bottom: 0;
  right: 60px;
  margin: auto;
  position: absolute !important;
  
  &.is_active{
    @include show( .3s );
  }
}

@media #{$medium-down}{
  a.trigger-menu{
    display: block;
  }
  
  .trigger-menuOpen,
  .trigger-menuClose{
    right: 30px;
  }
}